body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(67, 68, 85, 1);
    background-color: rgba(255, 255, 255, 1);
}

h3 {
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
}

.nav-list-link {
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.header-adress {
    font-style: normal;
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.project-title-section {
background-color: rgba(46, 47, 66, 1);
}

.project-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.project-title-button {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: #4D5AE5;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.project-title-button:hover,
.project-title-button:focus {
    background-color: #404BBF;
}

.goals-title {
    letter-spacing: 0.02em;
}

.goals-text {
    letter-spacing: 0.02em;
}

.our-team-section {
    background-color: rgba(244, 244, 253, 1);
}

.our-team-title {
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-teammate-item {
    background-color: #ffffff;
}

.item-teammate-title {
    text-align: center;
    letter-spacing: 0.02em;
}

.our-teammates-job {
    text-align: center;
    letter-spacing: 0.02em;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item-title {
    letter-spacing: 0.02em;
}

.portfolio-item-text {
    letter-spacing: 0.02em;
}

.project-footer {
    background-color: rgba(46, 47, 66, 1);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-footer {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.footer-text {
    color: rgba(244, 244, 253, 1);
    letter-spacing: 0.02em;
}